.layoutContainer{
    background: linear-gradient(to left, #e0eafc, #cfdef3);
    
}
.pageContent{
    height: 100vh;

}
@media (max-width:768px){
    .pageContent{
        margin-top: 100px;
      
    }

}