.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
}
.deadline{
    font-weight: 700;
    color: red;
}
.back{
    border: none;
    box-shadow: 0 4px 8px hsla(0, 4%, 39%, 0.502);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.back:hover{
   transform: scale(1.1);
}