.dropdownContainer {
    position: relative;
    width: 100%;
    scroll-behavior: auto;
    /* height: 500px; */
  }
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    
  }
  .h2{
     font-size: 2em;
     font-weight: 700;
     color: #333;
  margin-bottom: 10px;
  }
  .inputFields {
    padding: 20px;
    border: 3px solid hwb(239 15% 2%);
    border-radius: 5px;
    width: 100%;
    background-color: #ececec;
    transition: all 0.3s ease-in-out;
  }
  .inputFields:focus {
    border-color: hsl(330, 7%, 94%);
    outline: none;
    background: white;
  }
  .date {
    border: 2px solid #3a86ff;
    border-radius: 5px;
    padding: 10px;
  }
  .dropdownContainer {
    position: relative;
    width: 100%;
  }
  .form{
    width: 50%;
    background: rgba(255, 255, 255, 0.6);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);

  }
  .userList {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%; 
    max-height: 200px; 
    overflow-y: auto; 
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    list-style: none;
    padding: 0;
    margin-top: 5px;
    z-index: 1000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.2s ease-in-out;
  }
  .date{
    border: 3px solid hwb(239 15% 2%);
  }
  .userList li {
    padding: 30px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    text-align: left;
    font-size: 1rem;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.3s ease-in-out;
  }
  .userList li:hover {
    background: #3a86ff;
    color: hwb(0 2% 0%);
    transform: scale(1.02);
  }
  .userList li:hover {
    background: #f0f0f0;
  }
  .selectedUser {
    background: #e8f5e9;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    color: #2b9348;
    font-weight: bold;
  }
  .noUser {
    padding: 10px;
    color: gray;
    text-align: center;
  }
  .searchInput {
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
    width: 100%;
  }
  .submit {
    background-color: #00c49f;
    color: white;
    padding: 6px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 1rem;
    transition: 0.3s ease-in-out;
  }
  .submit:hover {
    opacity: 0.8;
    transform: scale(1.05);
    color: black;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-5px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }