@import "tailwindcss";

.head{
    padding: 15px 0px;
}

.box{
    margin: 15px 20px;
    padding: 15px;
}

 button{
    padding: 4px 0px;
    width: 160px;
} 

.alert{
    margin: 10px 7px;
    padding: 0px 7px;
}

.alert input, textarea{
    margin: 7px 0px;
    padding: 0px 7px;
}
.userDash{
    margin-top: 10px;
} 
#loadingMin{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 1);
   
}
#loadingMin img{
    width: 400px;
}
/* Global Dark Mode */
.dark-mode {
    background-color: #121212 !important;
    color: white !important;
  }
  
  .dark-layout {
    background-color: #181818 !important;
    color: white;
  }
  